body, textarea, input {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	background-color: black;
	color: white;
}

.systemMessageGood, .systemMessageBad, .systemMessage {
	padding: 3px;
}

.systemMessageGood {
	background-color: green;
}

.systemMessageBad {
	background-color: red;
}

.taskTitleContainer{
	height: 100px;
}
.taskTitleTextContainer{
	overflow: hidden;
	text-overflow: ellipsis;
	height: 80px;
}